h1 {
    padding: 1.5rem;
    background-color: rgb(240, 240, 240);
}

.web-languages {
    padding: 3rem;
    display: flex;
    margin: 0 auto;
    gap: 1.3rem;
}

.description-card {
    display: none;
    /*display none when view class is not present (initially)*/
    margin: 0 3rem;
    border: 1px solid lightgrey;
    border-radius: 10px;

}

.view {
    /*view: display block to show card after user clicks on one button*/
    display: block;
}

.description-card p,
.description-card h2 {
    padding: 0 1.5rem;
}

.description-card h2 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.description-card p {
    padding-bottom: 1rem;
}